.landing {
  background-color: $beige;
  


  // Hero
  .hero {
    background-color: $blue;
    padding-top: 40px;
    padding-bottom: 50px;
    color: white;
    position: relative;
    .image {
      h2 {
        background-color: $red;
        color: white;
        display: inline-block;
        font-size: 70px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 32px 58px;
        border-radius: 15px;
        margin-top: -80px;
        position: relative;
        top: -20px;
        left: -35px;
        border-radius: 15px;
        &:before {
          border-radius: 15px;
          content: '';
          width: 50vw;
          background-color: $red;
          display: block;
          position: absolute;
          top: 0;
          height: 100%;
          right: 0;
          z-index: 0;
        }
        span {
          z-index: 1;
          position: relative;
        }
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
    }
    .copy {
      width: 815px;
      font-size: 26px;
      .description {
        font-family: "Space Mono", serif;
      }
      .date {
        margin-top: 40px;
        font-size: 32px;
        font-weight: bold;
        font-family: "Archivo Black", serif;
      }
    }
    .featured {
      text-align: center;
      position: relative;
      margin-top: -40px;
      padding-right: 80px;
      p {
        font-family: "Archivo Black", serif;
      }
      .title {
        font-size: 40px;
        margin-bottom: 24px;
      }
      .date {
        font-size: 32px;
        margin-bottom: 40px;
      }
      .btn {
        font-size: 32px;
        height: 67px;
        width: 199px;
        margin: auto;
      }
    }
  }
  .hero-divider {
    width: 100%;
    img {
      width: 100%;
    }
    // position: absolute;
    // bottom: 0;
  }

  .info-block {
    &.text-left {

      .image {
        width: 49%;
        padding-left: 50px;
      }
      .copy {
        width: 51%;
      }
      
      .img-container {
        border-radius: 50px;
        background-color: $red;
        padding: 40px 30px;
        padding-right: 0;
        position: relative;
        z-index: 1;
        img {
          z-index: 1;
          position: relative;
        }
        &:after {
          content: '';
          width: 50vw;
          height: 100%;
          background-color: $red;
          display: block;
          position: absolute;
          top: 0;
          z-index: 0;
          left: 50px;
        }
      }
    }
    h3{
      font-size: 40px;
      margin-bottom: 40px;
        font-family: "Archivo Black", serif;
    }
    p {
      font-size: 16px;
      font-family: "Space Mono", serif;
      margin-bottom: 30px;
    }
    .container {
      display: flex;
      align-items: center;
    }
  }
}